@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
/*import de la police poppins pour les pc ne l'ayant pas*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;/*police pricipale du site*/
    user-select:none;/*empêche l'utilisateur de séléctionner les éléments du site*/
}
html{
    overflow-x: hidden; /* permet de cacher les bouts du site qui sortent du cadre.*/
}

.boites{/*je sépare le site en deux boites faisant toutes deux la longueur et la largeur de l'écran.*/
    width:100vw;/*vw = viewwidth,  la boite prend 100% de la largeur de l'écran*/
    height:100vh;/*vh = viewheight, la boite prend 100% de la hauteur de l'écran*/
}

.buttonmenu{
    position:absolute;/*la position de la div ne sera pas impactée par les autre éléments*/
    left:1.5em;/* je décale la div  de 1.5em vers la doite*/
    top:1.5em;/* je descends la div de 1.5em*/
    width:3.38em;
    height:3.38em;
    border-radius:2em;/*bordure ronde*/
    border:none;/*enlève la bordure native des boutons*/
    background-color: #fff;/*couleur de fond du bouton*/
    z-index:2;/*position du bouton sur l'axe z, j'amène le bouton au premier plan, plus la valeur du z-index est élevée, plus la div est amenée au premier plan, voir: https://developer.mozilla.org/fr/docs/Web/CSS/z-index*/
    box-shadow: 0 0 5px 2px rgb(109, 109, 109);/*met une ombre autour du bouton, voir https://developer.mozilla.org/fr/docs/Web/CSS/box-shadow */
}
#logo512px{
    width:80%;/*l'image doit avoir pour largeur 80% de la largeur de la div parent*/
    margin:9% 0 0 10%;/*centre l'image les valeur correspondent respectivement à margin-top, margin-right, margin-bottom, margin-left*/
}

.pres{
    position: relative;
    left:5em;
    top:4em;
    width:32em;
    height:40em;
    background:linear-gradient(60deg, #ff5fc8 -50%, #fcbf78); /* la valeur -50% permet de faire reculer le point à partir duquel la partie rose commence <=> permet de faire un dégradé moins compacte. voir: https://developer.mozilla.org/fr/docs/Web/CSS/gradient/linear-gradient()*/
    border-radius: 5em;
}
.moi_txt{
    padding:2em;
    font-size:2em;
    color:#fff;
}

.desc{
    position:absolute;
    margin:7em 0 0 50em;
}

#moi{
    background-image: url("../images/moi.png");/* définit une image comme arrière plan de la div*/
    background-size: contain;/*l'image de fond dont être contenue dans la div, ne doit pas dépasser*/
    width:7em;
    height:7em;
    border-radius: 3.5em;
    position:absolute;
    margin-top:5em;
    margin-left:20em;
}

.langues{
    position:absolute;
    top:78vh;
    background: linear-gradient(60deg,#FF5ACD,#FBDA61);/*dégradé linéaire*/
    width:100vw;
    height:22vh;
    display:flex;/* permet l'utilisation de flexbox et des propriétés qui vont avec*/
    justify-content: space-evenly;/*définit la position des enfants sur l'axe horizontal. voir: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
}

.niveaul{
    display: flex;
    align-items: center;/*définit la position des enfants sur l'axe vertical. voir: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
    justify-content: center;
    column-gap: 1em;
    margin:.4em 0 0 5em;
    width:25em;
    height:5em;
    background:rgba(255, 255, 255, 0.218);
    border-radius:1.5em;
}

#b2{
    width:100%;
    height:100vh;
    background: linear-gradient(130deg, #3C4CE2, #530095);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20em 10em; 
    flex-wrap:wrap;
}
#h1b2{
    position:absolute;
    margin:.5em 0 0 2em;
    font-size:4em;
    color:#fff;
}
.top{
    text-align: center;
}
h2{
    font-size:3em;
    color:#fff;
    margin-top:1em;
}

.glass{
    height:47em;
    width:37em;
    margin-top:5em;
    border-radius: 7em;
    background: rgba(255, 255, 255, 0.12);
}

.compet{
    margin:1em 0 0 2em;
    font-size:1.7em;
    color:#fff;
}

.compet2{
    margin:.4em 0 0 2em;
}
.txtgros{
    font-size:3em;
}

.niveau{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
    margin:.4em 0 0 5em;
    width:25em;
    height:4em;
    background:rgba(255, 255, 255, 0.218);
    border-radius:1.5em;
}

.rempli, .pasrempli, .demirempli{
    width:2.4em;
    height:2.4em;
    border-radius: 1.5em;
}
.rempli{
    background: #530095;
}
.pasrempli{
    background: #d6d6d694;
}

.demi-rempli{
    position:absolute;
    width:1.2em;
    height:2.4em;
    background: #530095;
    border-radius:1.5em 0 0 1.5em;
}
.demi-rempli + .demi-rempli{/* quand un element avec la classe .demi-rempli est suivie par un element avec la même classe alors la deuxième div a les propriétés suivantes*/
    background: #d6d6d694;
    margin-left:1.2em; 
    border-radius: 0 1.5em 1.5em 0;/* définit les bordures rondes côté par côté*/
}

.c2{
    background:#ca595f;
}