/*



    Le site ne marche que pour une mise à l'échelle de 100% sous windows et avec une résolution de 1080p(16/9 et 21/9) ou de 1440p(16/9 et 21/9).




*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300&display=swap');

*{
    user-select:none;
}

body{
    height: 100vh;
    width:100vw;
    margin:0;
    overflow: hidden;
}

.boutoninterro{
    margin-left:90%;
    border:solid .1em rgba(51, 51, 51, 0.555);
    background:#fff;
    border-radius: 1em;
    color:rgba(51, 51, 51, 0.555);
}

#fini{
    display:none;
    position:absolute;
    left:42.5vw;
    top:42.5vh;
    width:15vw;
    height:15vh;
    border-radius: 2em;
    box-shadow: 0 0 10vw 45vw rgba(0, 0, 0, 0.322);
    background: #fff;
    text-align: center;
    z-index:8;
}

#pfini{
font-family: 'Roboto','sans-serif';
margin-bottom:1.5em;
}
#boutonfini{
    border:none;
    background: #fff;
    box-shadow: 0 0 .5em .2em rgba(0, 0, 0, 0.356);
    border-radius:.6em;
    width:3em;
    height:2.2em;
}

.grid{
    display: grid;
    grid-template-columns: 0px 5vw 25vw auto;
    grid-auto-rows: 100vh;
}

#boutonsortie{
    position:absolute;
    height:100%;
    width:1%;
    border:none;
    opacity:0;
    z-index:3;
    padding:0;
}

.boutonsortiedev{
    left:25vw;
    width: 100%!important;
}

.top{
    margin:7vh 0 3vh 0;
}
h1{
    margin:0;
    font-family: 'Roboto', sans-serif;
    color: rgb(53, 53, 53);
    font-size:2.5em;
    text-decoration: underline;
    text-decoration-thickness: .03em;
    text-underline-offset: .1em;
    text-decoration-color: rgb(63, 63, 63);
    font-weight: 100;
    text-align: center;
}
.barre{
    background: #fff;
    width:0vw;
    z-index:1;
    transition: all .5s ease-out;
}

.dev{
    width:25vw;
    box-shadow: 0px 0px 100em 30vw rgba(0, 0, 0, 0.397);
}

.container{
    overflow:scroll;
    overflow-x: hidden;
}

.images{
    position:relative;
    cursor: pointer;
    width:100%;
    height:90%;
}

.composants{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mini{
    display:none;
}

#d1{
    background-image: url('../images/mb.png');
    background-size: contain;
    background-repeat: no-repeat;
}


#d2{
    background-image: url('../images/cpu.png');
    background-size: cover;   
}

#d3{
    background-image: url('../images/cooler.png');
    background-size: cover;   
}

#d4{
    background-image: url('../images/ram.png');
    background-size: contain;
    background-repeat: no-repeat;  
}

#d5{
    background-image: url('../images/ssd.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#d6{
    background-image: url('../images/hddp.png');
    background-size: contain;
    background-repeat: no-repeat; 
}
#d7{
    background-image: url('../images/alim.png');
    background-size: contain;
    background-repeat: no-repeat;   
}

#d8{
    background-image: url('../images/gpuf.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#carte-mere{
    width:23.5em;
    height:23.5em;
    display:block;
    bottom: 24.5em;
    margin-left:22em;
}
.cm1{
    position:absolute;
    bottom:15em;
}
.cooler1,.ram1,.ssd1,.alim1,.hdd1,.gpu1,.cm1{
    position:absolute;
}
#cpu{
    position:absolute;
    width:3.2em;
    height:3.2em;
    bottom:38.2em;
    margin-left:31.5em;
    border-radius: 1.5em;
    z-index:8;
}
.cpu1{
    position:relative;
}

#cooler{
    width:7em;
    height:7em;
    bottom:36.7em;
    margin-left:29.5em; 
    z-index:7;
}
.cooler1{
    z-index:8;
}

#ram{
    width:3em;
    height:12em;
    bottom:34em;
    margin-left:37.5em;  
}
.ram1{
    z-index:9;
}

#ssd{
    height:2em;
    width:7em;
    bottom:33em;
    margin-left:28em; 
}
.ssd1{
    height:2.5em!important ;
}

#hdd{
    width:11em;
    height:9em;
    bottom:13.5em;
    margin-left:49em;
}

#alim{
    width:12em;
    height:8em;
    bottom: 11em;
    margin-left:21em;
}
.alim1{
    bottom:15.6em!important;
    margin-left:18em!important;
}

#gpu{
    height:4em;
    width:20em;
    bottom:28.5em;
    margin-left:22em;
}

#case{
    position:absolute;
    height:69em;
    width:69em;
    top:5em;
    margin-left:7.8em;
    background-image: url("../images/boitier.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.pc{
    background: linear-gradient(109.6deg, rgb(156,252,248), rgb(110,123,251));
}

.compopc{
    display:none;
    position:absolute;
    border-radius: 2em;
    border: .2em dashed rgba(255, 255, 255, 0.699);
}

.compopcdev{
    display:block;
}

.compo + .compo{
    margin-top:7vh;
}

.compo{
    position: relative;
    width:15em;
    height: 17em;
    overflow:hidden;
}
/*largeur de la barre de défilement*/
::-webkit-scrollbar {
    width: 15px;
}
  
/*arrière plan de la barre de défilement*/
::-webkit-scrollbar-track { 
  border-radius: 10px;
}
 
/*partie bleue de la barre de défilement*/
::-webkit-scrollbar-thumb {
  background: #acb1e2; 
  border-radius: 10px;
}

/*partie bleue de la barre de défilement quand on passe notre souris dessus*/
::-webkit-scrollbar-thumb:hover {
  background: #7075a3; 
}


.interrogation_txt{
    display:none;
    color: rgb(53, 53, 53);
    font-family: "open-sans", sans-serif;
    font-weight: 300;
    padding: 0 10%;
    margin-bottom:100vh;
}

#busd{
    position:relative;
    left:1.7em;
    top:5em;
    width:4em;
    height:4em;
    border-radius:2em;
    border:none;
    background-color: #fff ;
    z-index:2;
    box-shadow: 0 0 5px 2px rgb(109, 109, 109);
}

.barre{
    overflow: hidden;
}

h2{
    position: relative;
    font-family: 'Open-sans', sans-serif;
    font-size:2.5em;
    margin:1.7em 0 0 0;
    left:2.5em;
}

h2+h2{
    margin-top:16.5vh;
}

#s1,#s2,#s3{
    margin-left:7%;
    height:5%;
    background-color: #000;
    border-radius: .2em;
    width:85%;
}

#s2,#s3{
    margin-top:18%;
}

#s2{
    width:65%;
}


div + a,a+a{
    margin-top:15vh;
}

.buttonmenu{
    position:relative;
    display:block;
    left:1.4em;
    top:5em;
    width:3.38em;
    height:3.38em;
    border-radius:2em;
    border:none;
    background-color: #fff ;
    z-index:2;
    box-shadow: 0 0 5px 2px rgb(109, 109, 109);
}

#logo96px{
    width:80%;
    margin:10% 0 0 8%;
}

#logo512px{
    width:80%;
    margin:9% 0 0 10%;
}

#busd:hover,#boutonfini:hover{
    background-color:#e6e6e6;
}
a:hover{
    background:#e6e6e6;
}


@media (max-height: 1080px){
   #case{
    margin-left:6em;
    top:5em;
    height:51.75em;
    width:51.75em;
   }
   #carte-mere{
    width:19em;
    height:19em;
    bottom: 17em;
    margin-left:16.5em;
}
.cm1{
    position:absolute;
    bottom:15em;
}
.cooler1,.ram1,.ssd1,.alim1,.hdd1,.gpu1,.cm1{
    position:absolute;
}
#cpu{
    width:3.2em;
    height:3.6em;
    bottom:27.8em;
    margin-left:24.5em;
}

#cooler{
    width:7em;
    height:7.5em;
    bottom:25.7em;
    margin-left:22.5em; 
    z-index:7;
}

#ram{
    width:3em;
    height:11em;
    bottom:24em;
    margin-left:29em;  
}
.ram1{
    margin-left:29.5em!important;
    bottom:23em!important;
    height:10em!important;
}

#ssd{
    height:1.6em;
    width:7em;
    bottom:23.8em;
    margin-left:20em; 
}
.ssd1{
    height:1.8em!important;
    margin-left:19.6em!important;
}

#hdd{
    width:9em;
    height:8em;
    bottom:9em;
    margin-left:37em;
}

#alim{
    width:12em;
    height:8em;
    bottom: 7.5em;
    margin-left:16em;
}
.alim1{
    bottom: 6.3em!important;
    margin-left:16em!important;
}

#gpu{
    height:4em;
    width:20em;
    bottom:19.4em;
    margin-left:15em;
}
}