*{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}
.parallax{
    background: url('https://images.pexels.com/photos/192136/pexels-photo-192136.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    color: aliceblue;
}
.parallax-1{
    background: url('https://images.pexels.com/photos/3369569/pexels-photo-3369569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;
}
.parallax-2{
    background: url('https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;
}
.parallax-inner{
    padding-top: 20%;
    padding-bottom: 20%;
}
h3{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
h1{
    font-size: 160px;
    text-align: center;
}