@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300&display=swap');

body{
    height: 100vh;
    width:100vw;
    margin:0;
    overflow: hidden;
}

.boutoninterro{
    margin-left:90%;
    border:solid .1em rgba(51, 51, 51, 0.555);
    background:#fff;
    border-radius: 1em;
    color:rgba(51, 51, 51, 0.555);
}

#fini{
    display:none;
    position:absolute;
    left:42.5vw;
    top:42.5vh;
    width:15vw;
    height:15vh;
    border-radius: 2em;
    box-shadow: 0 0 10vw 45vw rgba(0, 0, 0, 0.322);
    background: #fff;
    text-align: center;
    z-index:8;
}

#pfini{
font-family: 'Roboto','sans-serif';
margin-bottom:1.5em;
}
#boutonfini{
    border:none;
    background: #fff;
    box-shadow: 0 0 .5em .2em rgba(0, 0, 0, 0.356);
    border-radius:.6em;
    width:3em;
    height:2.2em;
}

.grid{
    display: grid;
    grid-template-columns: 0px 5vw 25vw auto;
    grid-auto-rows: 100vh;
}

#boutonsortie{
    position:absolute;
    height:100%;
    width:1%;
    border:none;
    opacity:0;
    z-index:3;
    padding:0;
}

.boutonsortiedev{
    left:25vw;
    width: 100%!important;
}

.top{
    margin:7vh 0 3vh 0;
}
h1{
    margin:0;
    font-family: 'Roboto', sans-serif;
    color: rgb(53, 53, 53);
    font-size:2.5em;
    text-decoration: underline;
    text-decoration-thickness: .03em;
    text-underline-offset: .1em;
    text-decoration-color: rgb(63, 63, 63);
    font-weight: 100;
    text-align: center;
}
.barre{
    background: #fff;
    width:0vw;
    z-index:1;
    transition: all .5s ease-out;
}

.dev{
    width:25vw;
    box-shadow: 0px 0px 100em 30vw rgba(0, 0, 0, 0.397);
}

.container{
    overflow:scroll;
    overflow-x: hidden;
}

.images{
    position:relative;
    cursor: pointer;
    width:100%;
    height:100%;
}

.composants{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mini{
    display:none;
}

#d1{
    background-image: url('../images/mb.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.cm1{
    position:absolute;
    bottom:15vh;
}

#d2{
    background-image: url('../images/cpu.png');
    background-size: cover;   
}

.cpu1{
    position: relative;
    width:20%;
    height:auto;
    z-index:7;
}

#d3{
    background-image: url('../images/cooler.png');
    background-size: cover;   
}
.cooler1{
    position: relative;
    width:20%;
    height:auto;
    z-index:8;
}

#d4{
    background-image: url('../images/ram.png');
    background-size: contain;
    background-repeat: no-repeat;  
}
.ram1{
    position:relative;
    height:9vh;
    width:auto;
}

#d5{
    background-image: url('../images/ssd.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#d6{
    background-image: url('../images/hddp.png');
    background-size: cover;   
}
#d7{
    background-image: url('../images/alim.png');
    background-size: cover;   
}
#d8{
    background-image: url('../images/gpuf.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.pc{
    background: linear-gradient(109.6deg, rgba(156,252,248,1), rgba(110,123,251,1));
    text-align:center;
}

.compopc{
    display:none;
    position:absolute;
    border-radius: 2em;
    border: .2em dashed rgba(255, 255, 255, 0.699);
}

.compopcdev{
    display:block;
}

#carte-mere{
    width:17%;
    height:38vh;
    display:block;
    bottom: 40vh;
    margin-left:19vw;
}

#cpu{
    width:3em;
    height:3em;
    bottom:60vh;
    margin-left:26.6vw;
    border-radius: 1.5em;
    z-index:8;
}
#cooler{
    width:6em;
    height:6em;
    bottom:58vh;
    margin-left:25vw; 
    z-index:7;
}

#ram{
    width:2em;
    height:10em;
    bottom:52.5vh;
    margin-left:31.5vw;  
}

#ssd{
    height:2vh;
    width:7em;
    bottom:53.7vh;
    margin-left:23vw; 
}

#hdd{
    width:8.8em;
    height:7.5em;
    bottom:21vh;
    margin-left:40vw;
}

#alim{
    width:10em;
    height:6.5em;
    bottom: 17vh;
    margin-left:17vw;
}

#gpu{
    height:7vh;
    width:20%;
    bottom:45vh;
    margin-left:17%;
}

#case{
    position:relative;
    height:80%;
    width:auto;
    top:10%;
}

.compo + .compo{
    margin-top:3vh;
}

.compo{
    width:15em;
    height: 15em;
}
/*largeur de la barre de défilement*/
::-webkit-scrollbar {
    width: 15px;
}
  
/*arrière plan de la barre de défilement*/
::-webkit-scrollbar-track { 
  border-radius: 10px;
}
 
/*partie bleue de la barre de défilement*/
::-webkit-scrollbar-thumb {
  background: #acb1e2; 
  border-radius: 10px;
}

/*partie bleue de la barre de défilement quand on passe notre souris dessus*/
::-webkit-scrollbar-thumb:hover {
  background: #7075a3; 
}


.interrogation_txt{
    display:none;
    color: rgb(53, 53, 53);
    font-family: "Roboto", sans-serif;
    padding: 0 10%;
}

#busd{
    position:relative;
    left:1.7em;
    top:5em;
    width:4em;
    height:4em;
    border-radius:2em;
    border:none;
    background-color: #fff ;
    z-index:2;
    box-shadow: 0 0 5px 2px rgb(109, 109, 109);
}

.barre{
    overflow: hidden;
}

h2{
    position: relative;
    font-family: 'Open-sans', sans-serif;
    font-size:2.5em;
    margin:1.7em 0 0 0;
    left:2.5em;
}

h2+h2{
    margin-top:16.5vh;
}

#s1,#s2,#s3{
    margin-left:7%;
    height:5%;
    background-color: #000;
    border-radius: .2em;
    width:85%;
}

#s2,#s3{
    margin-top:18%;
}

#s2{
    width:65%;
}


div + a,a+a{
    margin-top:15vh;
}

.buttonmenu{
    position:relative;
    display:block;
    left:1.4em;
    top:5em;
    width:3.38em;
    height:3.38em;
    border-radius:2em;
    border:none;
    background-color: #fff ;
    z-index:2;
    box-shadow: 0 0 5px 2px rgb(109, 109, 109);
}

#logo96px{
    width:80%;
    margin:10% 0 0 8%;
}

#logo512px{
    width:80%;
    margin:9% 0 0 10%;
}

#busd:hover,#boutonfini:hover{
    background-color:#e6e6e6;
}
a:hover{
    background:#e6e6e6;
}


